body {
    background-color: #F2F2F2;
    font-family: 'Zen Maru Gothic', bold;
}

.title {
    color: #ffffff;
    font-family: 'Comfortaa', Regular;
    text-align: center;

    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom right, #B06CCE, #FAAFAD);

    border-radius: 20px;
}

.title h1 {
    opacity: 80%;
    font-size: 72px;
    padding-top: 30vh;
    margin: 0 auto;
}

.title h5 {
    margin: 0 auto;
}

.scroll {
    opacity: 80%;
    font-size: 24px;
    
    position: absolute;
    bottom: 34vh;
    right: 50%;
}

.scroll::after{
    margin-top: 24px;
     content: "";
     position: absolute;
     bottom: 40px;
   
     width: 2.0px;
     height: 30px;
     background: #eee;
     animation: pathmove 1.4s ease-in-out infinite;
     opacity: 0.6;
   }

@keyframes pathmove {
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

.subtitle {
    font-family: 'Comfortaa', Bold;
    padding: 0px 0px 0px 40px;
    margin: 64px 0px 0px 0px;
}

.box {
    border-radius: 40px;
    padding: 40px;
    background-color: #ffffff;
}

.box h1 {
    font-size: 48px;
}

.contents {
    background-color: #ffffff;

}

.profile-img {
    float: right;
    width: 300px;
    height: auto;
}

.content h4 {
    opacity: 16%;
}

.snsIcon i {
    font-size: 36px;
    color: #000;
}

.work h3 {
    font-family: 'Comfortaa', Bold;
}

.sanitas-img {
    width: 300px;
    height: auto;
}

.portfolio-img {
    width: 300px;
    height: auto;
}

.container {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.date {
    font-family: 'Comfortaa', Bold;
}

.content {
    display: flex;
    vertical-align: middle;
}

.content a {
    color: #000;
    margin-right: 24px;
}

footer {
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom right, #B06CCE, #FAAFAD);
    margin-top: 80px;
    height: 80px;
    border-radius: 24px;
}

footer h3 {
    opacity: 0.8;
    font-size: 20px;
}

/* pc */
@media screen and (min-width: 768px) {

    .works {
        display: flex;
    }
    
    .work {
        width: 45%;
        margin-right: 24px;
    }

    .timeline {
        list-style: none;
    }

    .timeline>li {
        margin-bottom: 60px;
    }

    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }

    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #000 solid;
        padding-left: 30px;
    }

    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #000;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }
}

/* タブレット */
@media screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        width: 375px;
    }

    .timeline-content h3 {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

/*スマホ*/
@media screen and (max-width: 375px) {
    container {
        width: 90vw;
    }

    .timeline-content h3 {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}